.fixed-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    will-change: transform, opacity, filter;
    z-index: 1;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .content-wrapper {
        padding: 0 30px;
    }
}